.richtable {
	border: 0px solid red;
	padding: 0px;
	margin: 0px;
}

.richtable input.text {
	border: 1px solid #cc9966;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.richtable input.radio {
	font-size: 12px;
	width: auto;
}

.richtable select {
	border: solid 1px #EEEEEE;
	width: 75px;
}

.richtable .tableHeader {
	white-space: nowrap;
	word-break: keep-all;
	word-wrap: normal;
	color: #3A3A3A;
	font-weight: bolder;
	height: 24px;
	text-align: center;
	overflow: visible;
}

.richtable .resizeTitle {
	float: left;
	width: 90%;
	text-align: center;
}

.richtable .resizeBar {
	padding: 0px;
	margin: 0px;
	float: right;
	cursor: e-resize;
	width: 3px;
	height: 15px;
	font-size: 1px;
	vertical-align: top;
	background-color: #cccccc;
	display: inline;
}

.richtable .odd a,.even a {
	color: Black;
}

.richtable .odd td {
	background-color: #FFFFFF;
}

.richtable .even td {
	background-color: #f3f4f3;
}

.richtable .selected td {
	background-color: #ddeeff;
}

.richtable .selected a,.highlight a {
	color: black;
}

.richtable .selected td {
	background-color: #ffeedd;
}

.richtable .selected a,.selectlight a {
	color: black;
}

.richtable .odd div.ellipsis,.richtable .even div.ellipsis,.richtable.highlight div.ellipsis,.richtable .selectlight DIV.ellipsis
	{
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #3a3a3a;
	width: 100%;
}

.richtable .odd .editedCell,.richtable .even .editedCell,.richtable .highlight .editedCell,.richtable .selectlight .editedCell
	{
	background-color: #fff3f0;
}

.richtable .titleRow {
	color: #444444;
	font-weight: bold;
	font-size: 12px;
	vertical-align: middle;
}

.richtable .pageNav {
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: url(../images/pageNav.png);
	border: 0px #dddddd none;
	height: 22px;
	width: 22px;
	cursor: pointer;
}

.richtable .jumpPage {
	background-position: 0px -256px;
}

.richtable .firstPage {
	background-position: 0px 0px;
}

.richtable .prevPage {
	background-position: 0px -192px;
}

.richtable .nextPage {
	background-position: 0px -128px;
}

.richtable .lastPage {
	background-position: 0px -64px;
}

.richtable .firstPageD {
	background-position: 0px -32px;
}

.richtable .prevPageD {
	background-position: 0px -224px;
}

.richtable .nextPageD {
	background-position: 0px -160px;
}

.richtable .lastPageD {
	background-position: 0px -96px;
}

.richtable .toolbar select {
	width: 50px;
}

.richtable .toolbar .toolbarTable {
	border: 0px;
	width: 100%;
}

.richtable .toolbar .toolbarTable td {
	border: 0px;
}

.richtable .toolbar .toolbarTable .statusTool {
	border: 0px solid red;
	padding-top: 2px;
	text-align: right;
	white-space: nowrap;
	word-break: keep-all;
	word-wrap: normal;
}

.richtable .jumpPageInput {
	width: 25px;
	margin-top: 0px;
}