/*override bootstrap start*/
.table.middle th, .table.middle td{
	vertical-align: middle;
}
.form-horizontal .control-label{
	width: 100px;
}
.form-horizontal .controls {
	margin-left: 120px;
}
.form-horizontal .form-actions {
	padding-left: 120px;
}
.form-horizontal .control-group {
	margin-bottom: 10px;
}
.form-actions {
	padding: 10px 20px 10px;
}
.navbar-fixed-top, .navbar-fixed-bottom{
	z-index: 1000;
}
#_window_ input[type="text"],#_window_ input[type="password"]{
	width: 150px;
}
#_window_ input.integer,#_window_ input.double,#_window_ input.date {
	width: 90px;
}
td input,td textarea,td select,td .uneditable-input{
	margin-bottom: 0px;
}
.ui-icon.close{
	opacity: 1;
	filter: alpha(opacity=100);
}
/*override bootstrap end*/
/*override jqueryui start*/
.ui-widget{
	font-size: 1em;
}
/*override bootstrap end*/
#indicator {
	position: fixed;
	z-index: 10000;
	left: 50%;
	top: 0px;
	height: 24px;
	width: 100px;
	float: right;
	color: #FFF;
	padding: 0px 2px;
	background: #F00;
	margin-left: -60px;
	border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
}

#indicator.loading {
	padding: 0px 2px 0px 25px;
	background: #F00 url(../images/indicator.gif) 0px 0px no-repeat;
}
select.combox{
	cursor: text;
}
input.integer,input.double,input.date {
	width: 90px;
	font-family: Arial;
}

input.required {
	background: #FFF url(../images/required.png) no-repeat right;
}
.field-error {
	color: red;
}

.fieldError {
	position: absolute;
	top: 300px;
	left: 300px;
	display: block;
	z-index: 5000;
	cursor: pointer;
}

.fieldError .fieldErrorContent {
	width: 100%;
	background: #ee0101;
	position:relative;
	z-index:5001;
	color: #fff;
	width: 150px;
	font-family: tahoma;
	font-size: 11px;
	border: 2px solid #ddd;
	box-shadow: 0 0 6px #000;
	-moz-box-shadow: 0 0 6px #000;
	-webkit-box-shadow: 0 0 6px #000;
	padding: 4px 10px 4px 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
.fieldError .fieldErrorArrow {
	width: 15px;
	margin: -2px 0 0 13px;
	position:relative;
	z-index: 5006;
}
.fieldError .fieldErrorArrowBottom {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	margin: 0px 0 0 12px;
	top:2px;
}
.fieldError .fieldErrorArrow div {
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	box-shadow: 0 2px 3px #444;
	-moz-box-shadow: 0 2px 3px #444;
	-webkit-box-shadow: 0 2px 3px #444;
	font-size: 0px;
	height: 1px;
	background: #ee0101;
	margin: 0 auto;
	line-height: 0;
	font-size: 0;
	display: block;
}

.fieldError .fieldErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.fieldError .fieldErrorArrow .line10 {
	width: 15px;
	border: none;
}

.fieldError .fieldErrorArrow .line9 {
	width: 13px;
	border: none;
}

.fieldError .fieldErrorArrow .line8 {
	width: 11px;
}

.fieldError .fieldErrorArrow .line7 {
	width: 9px;
}

.fieldError .fieldErrorArrow .line6 {
	width: 7px;
}

.fieldError .fieldErrorArrow .line5 {
	width: 5px;
}

.fieldError .fieldErrorArrow .line4 {
	width: 3px;
}

.fieldError .fieldErrorArrow .line3 {
	width: 1px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 0 solid #ddd;
}

.fieldError .fieldErrorArrow .line2 {
	width: 3px;
	border: none;
	background: #ddd;
}

.fieldError .fieldErrorArrow .line1 {
	width: 1px;
	border: none;
	background: #ddd;
}

div.field-error,div.action-error,ul.field-error li {
	height: 1.5em;
	line-height: 1.5em;
	margin: 5px;
	padding: 2px 2px 1px 20px;
	border: 1px solid #F60;
	vertical-align: middle;
	background: #FFF2E9 url(../images/msg.png) 2px -42px no-repeat;
	color: #000;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

div.action-message,ul.action-message li {
	height: 1.5em;
	line-height: 1.5em;
	margin: 5px;
	padding: 2px 2px 1px 20px;
	border: 1px solid #669eff;
	vertical-align: middle;
	background: #e8eef7 url(../images/msg.png) 2px 2px no-repeat;
	color: #000;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.field-error .close,.action-error .close {
	width: 15px;
	height: 15px;
	float: right;
	cursor: pointer;
	background: url(../images/msg.png) 0px -66px no-repeat;
}

.action-message .close {
	width: 15px;
	height: 15px;
	float: right;
	cursor: pointer;
	background: url(../images/msg.png) 0px -22px no-repeat;
}

img.captcha {
	height: 25px;
	width: 100px;
	cursor: pointer;
	vertical-align: middle;
}

#treeview li.highlight {
	font-weight:bold;
}

.highlight {
	background: #FF6;
}

.highlightrow tr:hover td{
	background: #EEE;
}

thead,tfoot {
	background-color: #DDD;
}

ul.attributes li{
	display: block;
    float: left;
    width: 200px;
    overflow: hidden;
    margin-right: 20px;
    padding-top: 5px;
    text-indent: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
ul.attributes li span.value{
    padding-left: 10px;
}
ul.attributes span.group{
	font-weight:bold;
}
ul.attributes li.group ul{
	padding-left:10px;
}

a.remove {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

a.remove:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.datagrided [class*="icon-"]{
	cursor:pointer;
	margin: 3px;
}
.datagrided [class*="icon-"]:hover{
	opacity: 0.4;
  	filter: alpha(opacity=40);
}
/*textext*/
div.text-core{
	display:inline-block;
}