.toolbar > [class*="span"]{
	margin-top:0;
	margin-bottom:0;
}
.toolbar .action{
	text-align:center;
}
.toolbar .status{
	text-align:right;
}
.toolbar .pagination{
	margin: 0;
}
.toolbar .pagination ul{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.toolbar .pagination .inputPage {
	width: 25px;
	height: 22px;
	line-height: 22px;
	margin-bottom: -4px;
	text-align:right;
}
.toolbar .pagination .totalPage {
	min-width: 25px;
	height: 22px;
	line-height: 22px;
	text-align:left;
}
.toolbar .pagination .pageSize {
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	width: 60px;
	height: 32px;
}
.toolbar .pagination a[href] .glyphicon{
	color: #555;
}

.toolbar input[name="keyword"]{
	width:100px;
	-moz-transition: width .2s ease-in .5s;
	-webkit-transition: width .2s ease-in .5s;
	transition: width .2s ease-in .5s;
}
.toolbar input[name="keyword"]:focus{
	width:100%;
}
.toolbar.pagination ul{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.toolbar .pagination a{
	padding:0 8px;
	line-height: 30px;
}
.toolbar .pagination li.disabled a i{
	filter: Alpha(Opacity=20); 
	opacity: 0.20;
}
.toolbar .pagination li.firstPage a{
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}
.toolbar .pagination li.lastPage a{
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}
.toolbar .pagination span.input-append {
  padding: 0 4px;
  line-height: 20px;
  background-color: transparent;
  border: 0;
  margin-bottom: 0px;
}
.toolbar .pagination span.add-on {
  float: none;
}
.toolbar .pagination span.divider {
  float: none;
  padding: 0;
  line-height: 20px;
  background-color: transparent;
  border: 0;
}