table.richtable thead {
	background: #d5d5d5;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d5d5d5), to(#d5d5d5), color-stop(.5,#b0b0b0));
	background: -moz-linear-gradient(center top , #d5d5d5, #b0b0b0, #d5d5d5);
}
table.richtable {
	width: 100%;
	border-collapse: collapse;
}
table.richtable td,th {
	padding: 0.5em;
	border: 1px solid #CCC;
	line-height: 180%;
}
.richtable table td.action{
	white-space:nowrap;
	overflow:hidden;
}
.richtable table td a:hover{
	color: #1E50A2;
}
.richtable input.text {
	border: 1px solid #cc9966;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.richtable input.radio {
	font-size: 12px;
	width: auto;
}
.richtable select {
	border: solid 1px #EEEEEE;
	width: 75px;
}
.richtable thead td {
	white-space: nowrap;
	word-break: keep-all;
	word-wrap: normal;
	font-weight: bolder;
	height: 24px;
	text-align: center;
	overflow: visible;
}
.richtable .resizeTitle{
	line-height:200%;
}
.richtable tbody tr:nth-child(even) td {
  background-color: #f3f4f3;
}
.richtable td.checkbox {
	text-align: center;
}

.richtable .selected td {
	background-color: #FFC !important;
}
.richtable td.edited{
	background-color: #fff3f0;
}
.richtable .inputPage {
	margin-left:5px;
	width: 25px;
	text-align:right;
}
.richtable .totalPage {
	min-width: 25px;
	text-align:left;
}
.richtable .pageSize {
	width: 60px;
}

.richtable .toolbar .pagination,.richtable .toolbar .action,.richtable .toolbar .search,.richtable .toolbar .status{
	margin-top:18px;
}
.richtable .toolbar .inputPage,.richtable .toolbar .totalPage{
	margin-bottom:9px;
}
.richtable .toolbar .action{
	text-align:center;
}
.richtable .toolbar .status{
	line-height: 26px;
	vertical-align: middle;
	text-align:right;
}

/*override bootstrap start*/
td.radio input[type="radio"], td.checkbox input[type="checkbox"]{
	float: none;
	margin-left: 0;
}
.richtable input[name="keyword"]{
	width:100px;
}
.richtable .pagination a{
	padding: 0 12px;
	line-height: 26px;
}
.richtable .pagination li.firstPage a,.richtable .pagination li.lastPage a{
	padding:0 7.5px;
}
/*override bootstrap end*/

.ui-dialog .richtable .toolbar .pagination{
	width:37%;
}
.ui-dialog .richtable .toolbar .action{
	margin-left: 0;
	width:20%;
}
.ui-dialog .richtable .toolbar .search{
	margin-left: 0;
	width:23%;
}
.ui-dialog .richtable .toolbar .status{
	margin-left: 0;
	width:20%;
}