td.filtercolumn li.selecton
{
	color: green;
	font-weight: bold;
}
td.filtercolumn li.selectoff
{
	color: red;
	font-weight: bold;
}
td.filtercolumn div.cmDiv
{
	display: inline;
	background: none;
	border: 0;
	float: left;
	padding-left: 8px;
}
td.filtercolumn li.main
{
	padding: 0;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
}
td.filtercolumn li.main li
{
	text-align: left;
	padding-right: 2px;
}