<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">
	<context:property-placeholder
		location="classpath:applicationContext.properties" />
	<context:annotation-config />
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>org.springframework.security.messages</value>
				<value>resources.i18n.messages</value>
			</list>
		</property>
	</bean>
	<bean id="httpClient"
		class="org.apache.commons.httpclient.HttpClient" >
		<constructor-arg>
			<bean class="org.apache.commons.httpclient.MultiThreadedHttpConnectionManager"/>
		</constructor-arg>
	</bean>

	<bean id="templateProvider"
		class="org.ironrhino.common.support.TemplateProvider">
		<property name="allSharedVariables">
			<map>
				<entry key="base" value="${base}" />
			</map>
		</property>
	</bean>
	<bean id="eventPublisher"
		class="org.ironrhino.core.event.EventPublisher" />
	<bean id="applicationContextConsole"
		class="org.ironrhino.core.ext.spring.ApplicationContextConsole">
		<dwr:remote javascript="ApplicationContextConsole">
			<dwr:include method="execute" />
			<dwr:auth method="execute" role="ROLE_SUPERVISOR" />
		</dwr:remote>
	</bean>
	<bean id="settingControl"
		class="org.ironrhino.common.support.SettingControl" />
	<bean id="monitorControl"
		class="org.ironrhino.common.support.DefaultMonitorControl" />
	<bean id="regionTreeControl"
		class="org.ironrhino.common.support.RegionTreeControl" />
	<!--  
			<bean id="resultPage" class="org.ironrhino.common.model.ResultPage"
			scope="prototype" p:pageNo="1" p:pageSize="10" />
		-->
</beans>
