h1,h2,h3,h4,h5,h6 {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: arial, sans-serif;
	font-size: 75%;
}

#wrapper {
	padding-top: 20px;
}

#header {
	padding: 0px 20px;
	height: 120px;
}

#logo {
	width: 220px;
	padding-left: 8px;
	float: left;
}

#menu {
	float: right;
	margin: 8px 0;
}

#cart {
	z-index: 5;
	height: 100%;
	background-color: #9cf;
}

#cart_header,#cart_footer {
	text-align: center;
}

#cart div.container {
	margin: 0 5px;
	background-color: #FFF;
}

#cart_items {
	min-height: 200px;
}

#cart_wastebin {
	height: 50px;
}

#search {
	float: right;
	clear: right;
	margin: 8px 0 0 0;
}

#footer {
	clear: both;
	margin-top: 10px;
	border-top: 2px solid #006E9B;
	padding: 0px 20px;
}

#footer p {
	float: left;
	margin: 0;
	padding: 7px 0 15px 0;
}

#footer ul {
	float: right;
	margin: 7px 0 0 0;
	padding: 0 0 10px 0;
}

#footer ul li {
	float: left;
	display: block;
	padding: 0 10px 0 0;
}

#footer ul li a {
	text-decoration: none;
}

#footer ul li a:hover {
	text-decoration: underline;
}

a:link,a:visited {
	color: #009;
	text-decoration: underline;
}

a:link,a:visited {
	color: #009;
}

a:hover,a:active {
	color: #000;
	text-decoration: none;
}

ul,li {
	list-style: none;
}

cite {
	float: right;
	width: 80px;
	font-style: normal;
	color: #777;
	overflow: hidden;
	text-align: right;
	white-space: nowrap;
}

img {
	border: 0;
}

img.product_list {
	height: 100px;
	width: 100px;
}

img.cart_item {
	height: 50px;
	width: 50px;
}

div.category_top {
	background-color: #fcc;
}

div.category_top_title {
	text-align: center;
}

div.category_top a {
	text-decoration: none;
}

div.category_second {
	margin: 0px 10px;
	background-color: white;
}

a.category.selected {
	font-weight: bold;
}

ul.product_list {
	padding-left: 20px;
	margin-top: 10px;
	clear: both;
}

ul.product_list li {
	float: left;
	display: inline;
	width: 135px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

ul.product_list li a {
	text-align: center;
	width: 100%;
	display: block;
	padding: 4px 0px 4px 0px;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 6px;
}

.blankline {
	height: 8px;
	font-size: 1px;
	clear: both;
	overflow: hidden;
}