<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClassName:com.mysql.jdbc.Driver}" />
		<property name="jdbcUrl" value="${jdbc.url:jdbc:mysql:///ironrhino?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useServerPrepStmts=true}" />
		<property name="username" value="${jdbc.username:root}" />
		<property name="password" value="${jdbc.password:}" />
		<property name="maxConnectionsPerPartition" value="${dataSource.maxActive:50}" />
		<property name="minConnectionsPerPartition" value="${dataSource.initialSize:5}" />
		<property name="statementsCacheSize" value="${dataSource.statementsCacheSize:50}" />
		<property name="releaseHelperThreads" value="${dataSource.releaseHelperThreads:1}" />
		<property name="statementReleaseHelperThreads" value="${dataSource.statementReleaseHelperThreads:1}" />
		<property name="idleConnectionTestPeriodInMinutes" value="${dataSource.idleConnectionTestPeriodInMinutes:120}" />
		<property name="idleMaxAgeInMinutes" value="${dataSource.idleMaxAgeInMinutes:60}" />
		<property name="connectionTestStatement" value="${jdbc.connectionTestStatement:/* ping *\\/ select 1}" />
	</bean>
</beans>
