<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<bean id="paymentManager"
		class="com.ironrhino.online.payment.PaymentManager">
		<property name="payments">
			<list>
				<ref bean="paypal" />
				<!--ref bean="alipay" /-->
			</list>
		</property>
	</bean>
	<bean id="paypal" class="com.ironrhino.online.payment.Paypal"/>
	<!--bean id="alipay" class="com.ironrhino.online.payment.Alipay"
		p:partner="${alipay.partner}" p:key="${alipay.key}" /-->

	<bean id="orderCodeSequence" class="org.ironrhino.core.spring.CyclicMySQLMaxValueIncrementer" 
		p:incrementerName="common_sequence" p:columnName="orderCode"/>
</beans>
