<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">
	<bean id="cacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" />
	<!--cas cache-->
	<bean id="ticketCache"
		class="org.springframework.cache.ehcache.EhCacheFactoryBean"/>
	<bean id="pageFragmentCache"
		class="org.springframework.cache.ehcache.EhCacheFactoryBean" />
	<bean id="methodCache"
		class="org.springframework.cache.ehcache.EhCacheFactoryBean" />
</beans>
