<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

	<bean id="backendAuthenticationManager"
		class="org.springframework.security.providers.ProviderManager">
		<property name="providers">
			<list>
				<ref local="casAuthenticationProvider" />
				<ref bean="anonymousAuthenticationProvider" />
			</list>
		</property>
	</bean>

	<bean id="backendLogoutFilter"
		class="org.springframework.security.ui.logout.LogoutFilter">
		<constructor-arg value="${cas.logoutUrl}" />
		<constructor-arg>
			<list>
				<ref bean="securityContextLogoutHandler" />
			</list>
		</constructor-arg>
		<property name="filterProcessesUrl" value="/backend/logout" />
	</bean>

	<bean id="backendExceptionTranslationFilter"
		class="org.springframework.security.ui.ExceptionTranslationFilter">
		<property name="authenticationEntryPoint"
			ref="casProcessingFilterEntryPoint" />
		<property name="accessDeniedHandler" ref="accessDeniedHandler" />
	</bean>

	<bean id="casAuthenticationProvider"
		class="org.springframework.security.providers.cas.CasAuthenticationProvider">
		<property name="userDetailsService" ref="userManager" />
		<property name="ticketValidator">
			<bean
				class="org.jasig.cas.client.validation.Cas20ProxyTicketValidator">
				<constructor-arg value="${cas.baseUrl}" />
			</bean>
		</property>
		<property name="statelessTicketCache">
			<bean
				class="org.springframework.security.providers.cas.cache.EhCacheBasedTicketCache">
				<property name="cache">
					<bean
						class="org.springframework.cache.ehcache.EhCacheFactoryBean">
						<property name="cacheManager"
							ref="cacheManager" />
						<property name="cacheName" value="ticketCache" />
					</bean>
				</property>
			</bean>
		</property>
		<property name="serviceProperties" ref="serviceProperties" />
		<property name="key" value="password" />
	</bean>



	<bean id="serviceProperties"
		class="org.springframework.security.ui.cas.ServiceProperties">
		<property name="service"
			value="${cas.serviceProperties.service}" />
		<property name="sendRenew" value="false" />
	</bean>

	<bean id="casProcessingFilter"
		class="org.springframework.security.ui.cas.CasProcessingFilter">
		<property name="authenticationManager"
			ref="backendAuthenticationManager" />
		<property name="authenticationFailureUrl"
			value="/accessDenied.jsp" />
		<property name="defaultTargetUrl" value="/backend" />
		<property name="filterProcessesUrl" value="/backend/check" />
	</bean>

	<bean id="casProcessingFilterEntryPoint"
		class="org.springframework.security.ui.cas.CasProcessingFilterEntryPoint">
		<property name="loginUrl" value="${cas.loginUrl}" />
		<property name="serviceProperties" ref="serviceProperties" />
	</bean>

	<bean id="backendSwitchUserProcessingFilter"
		class="org.springframework.security.ui.switchuser.SwitchUserProcessingFilter">
		<property name="userDetailsService" ref="userManager" />
		<property name="switchUserUrl" value="/backend/switch" />
		<property name="exitUserUrl" value="/backend/exit" />
		<property name="targetUrl" value="/backend" />
	</bean>

	<bean id="backendFilterInvocationInterceptor"
		class="org.springframework.security.intercept.web.FilterSecurityInterceptor">
		<property name="authenticationManager"
			ref="backendAuthenticationManager" />
		<property name="accessDecisionManager"
			ref="httpRequestAccessDecisionManager" />
		<property name="objectDefinitionSource">
			<bean
				class="org.springframework.aop.framework.ProxyFactoryBean">
				<property name="targetSource"
					ref="filterInvocationInterceptorObjectDefinitionSource" />
			</bean>
		</property>
	</bean>

</beans>
