<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource"
		class="org.ironrhino.core.dataroute.RoutingDataSource">
		<!-- for GroupedDataSource-->
		<property name="groups">
			<list>
				<ref local="mainGroup"/>
				<ref local="miscGroup"/>
			</list>
		</property>
		<!-- for general DataSource-->
		<!--
				<property name="routingMap">
					<map>
						<entry key="mainGroup" value-ref="mainGroup"/>
						<entry key="miscGroup" value-ref="miscGroup"/>
					</map>
				</property>
			-->
	</bean>
	
	<bean id="mainGroup"
		class="org.ironrhino.core.dataroute.GroupedDataSource">
		<property name="masterName" value="mainGroupMaster"/>
		<property name="readSlaveNames">
			<map>
				<entry  key="mainGroupRead1" value="1"/>
				<entry  key="mainGroupRead2" value="2"/>
				<entry  key="mainGroupRead3" value="3"/>
			</map>
		</property>
		<property name="writeSlaveNames">
			<map>
				<entry  key="mainGroupWrite1" value="1"/>
				<entry  key="mainGroupWrite2" value="1"/>
			</map>
		</property>
	</bean>
	
	<bean id="miscGroup"
		class="org.ironrhino.core.dataroute.GroupedDataSource">
		<property name="masterName" value="miscGroupMaster"/>
		<property name="readSlaveNames">
			<map>
				<entry  key="miscGroupRead1" value="1"/>
				<entry  key="miscGroupRead2" value="2"/>
				<entry  key="miscGroupRead3" value="3"/>
			</map>
		</property>
		<property name="writeSlaveNames">
			<map>
				<entry  key="miscGroupWrite1" value="1"/>
				<entry  key="miscGroupWrite2" value="1"/>
			</map>
		</property>
	</bean>
	
	<bean id="mainGroupMaster" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass"
			value="${jdbc.driverClassName:com.mysql.jdbc.Driver}" />
		<property name="jdbcUrl"
			value="${jdbc.url:jdbc:mysql:///ironrhino?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useServerPrepStmts=true}" />
		<property name="username" value="${jdbc.username:root}" />
		<property name="password" value="${jdbc.password:}" />
		<property name="maxConnectionsPerPartition" value="${dataSource.maxActive:50}" />
		<property name="minConnectionsPerPartition" value="${dataSource.initialSize:5}" />
		<property name="statementsCacheSize" value="${dataSource.statementsCacheSize:50}" />
		<property name="idleConnectionTestPeriodInMinutes" value="${dataSource.idleConnectionTestPeriodInMinutes:120}" />
		<property name="idleMaxAgeInMinutes" value="${dataSource.idleMaxAgeInMinutes:60}" />
		<property name="maxConnectionAgeInSeconds" value="${dataSource.maxConnectionAgeInSeconds:14400}"/>
		<property name="connectionTestStatement" value="${jdbc.connectionTestStatement:/* ping *\/ select 1}" />
	</bean>
	<bean id="mainGroupRead1" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass"
			value="${jdbc.driverClassName:com.mysql.jdbc.Driver}" />
		<property name="jdbcUrl"
			value="${jdbc.url:jdbc:mysql:///ironrhino?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useServerPrepStmts=true}" />
		<property name="username" value="${jdbc.username:root}" />
		<property name="password" value="${jdbc.password:}" />
		<property name="maxConnectionsPerPartition" value="${dataSource.maxActive:50}" />
		<property name="minConnectionsPerPartition" value="${dataSource.initialSize:5}" />
		<property name="statementsCacheSize" value="${dataSource.statementsCacheSize:50}" />
		<property name="idleConnectionTestPeriodInMinutes" value="${dataSource.idleConnectionTestPeriodInMinutes:120}" />
		<property name="idleMaxAgeInMinutes" value="${dataSource.idleMaxAgeInMinutes:60}" />
		<property name="maxConnectionAgeInSeconds" value="${dataSource.maxConnectionAgeInSeconds:14400}"/>
		<property name="connectionTestStatement" value="${jdbc.connectionTestStatement:/* ping *\/ select 1}" />
	</bean>
	<bean id="mainGroupRead2" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass"
			value="${jdbc.driverClassName:com.mysql.jdbc.Driver}" />
		<property name="jdbcUrl"
			value="${jdbc.url:jdbc:mysql:///ironrhino?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useServerPrepStmts=true}" />
		<property name="username" value="${jdbc.username:root}" />
		<property name="password" value="${jdbc.password:}" />
		<property name="maxConnectionsPerPartition" value="${dataSource.maxActive:50}" />
		<property name="minConnectionsPerPartition" value="${dataSource.initialSize:5}" />
		<property name="statementsCacheSize" value="${dataSource.statementsCacheSize:50}" />
		<property name="idleConnectionTestPeriodInMinutes" value="${dataSource.idleConnectionTestPeriodInMinutes:120}" />
		<property name="idleMaxAgeInMinutes" value="${dataSource.idleMaxAgeInMinutes:60}" />
		<property name="maxConnectionAgeInSeconds" value="${dataSource.maxConnectionAgeInSeconds:14400}"/>
		<property name="connectionTestStatement" value="${jdbc.connectionTestStatement:/* ping *\/ select 1}" />
	</bean>	
	<bean id="mainGroupRead3" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass"
			value="${jdbc.driverClassName:com.mysql.jdbc.Driver}" />
		<property name="jdbcUrl"
			value="${jdbc.url:jdbc:mysql:///ironrhino?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useServerPrepStmts=true}" />
		<property name="username" value="${jdbc.username:root}" />
		<property name="password" value="${jdbc.password:}" />
		<property name="maxConnectionsPerPartition" value="${dataSource.maxActive:50}" />
		<property name="minConnectionsPerPartition" value="${dataSource.initialSize:5}" />
		<property name="statementsCacheSize" value="${dataSource.statementsCacheSize:50}" />
		<property name="idleConnectionTestPeriodInMinutes" value="${dataSource.idleConnectionTestPeriodInMinutes:120}" />
		<property name="idleMaxAgeInMinutes" value="${dataSource.idleMaxAgeInMinutes:60}" />
		<property name="maxConnectionAgeInSeconds" value="${dataSource.maxConnectionAgeInSeconds:14400}"/>
		<property name="connectionTestStatement" value="${jdbc.connectionTestStatement:/* ping *\/ select 1}" />
	</bean>	
	<bean id="mainGroupWrite1" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass"
			value="${jdbc.driverClassName:com.mysql.jdbc.Driver}" />
		<property name="jdbcUrl"
			value="${jdbc.url:jdbc:mysql:///ironrhino?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useServerPrepStmts=true}" />
		<property name="username" value="${jdbc.username:root}" />
		<property name="password" value="${jdbc.password:}" />
		<property name="maxConnectionsPerPartition" value="${dataSource.maxActive:50}" />
		<property name="minConnectionsPerPartition" value="${dataSource.initialSize:5}" />
		<property name="statementsCacheSize" value="${dataSource.statementsCacheSize:50}" />
		<property name="idleConnectionTestPeriodInMinutes" value="${dataSource.idleConnectionTestPeriodInMinutes:120}" />
		<property name="idleMaxAgeInMinutes" value="${dataSource.idleMaxAgeInMinutes:60}" />
		<property name="maxConnectionAgeInSeconds" value="${dataSource.maxConnectionAgeInSeconds:14400}"/>
		<property name="connectionTestStatement" value="${jdbc.connectionTestStatement:/* ping *\/ select 1}" />
	</bean>	
	<bean id="mainGroupWrite2" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass"
			value="${jdbc.driverClassName:com.mysql.jdbc.Driver}" />
		<property name="jdbcUrl"
			value="${jdbc.url:jdbc:mysql:///ironrhino?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useServerPrepStmts=true}" />
		<property name="username" value="${jdbc.username:root}" />
		<property name="password" value="${jdbc.password:}" />
		<property name="maxConnectionsPerPartition" value="${dataSource.maxActive:50}" />
		<property name="minConnectionsPerPartition" value="${dataSource.initialSize:5}" />
		<property name="statementsCacheSize" value="${dataSource.statementsCacheSize:50}" />
		<property name="idleConnectionTestPeriodInMinutes" value="${dataSource.idleConnectionTestPeriodInMinutes:120}" />
		<property name="idleMaxAgeInMinutes" value="${dataSource.idleMaxAgeInMinutes:60}" />
		<property name="maxConnectionAgeInSeconds" value="${dataSource.maxConnectionAgeInSeconds:14400}"/>
		<property name="connectionTestStatement" value="${jdbc.connectionTestStatement:/* ping *\/ select 1}" />
	</bean>	
	<bean id="miscGroupMaster" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass"
			value="${jdbc.driverClassName:com.mysql.jdbc.Driver}" />
		<property name="jdbcUrl"
			value="${jdbc.url:jdbc:mysql:///ironrhino?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useServerPrepStmts=true}" />
		<property name="username" value="${jdbc.username:root}" />
		<property name="password" value="${jdbc.password:}" />
		<property name="maxConnectionsPerPartition" value="${dataSource.maxActive:50}" />
		<property name="minConnectionsPerPartition" value="${dataSource.initialSize:5}" />
		<property name="statementsCacheSize" value="${dataSource.statementsCacheSize:50}" />
		<property name="idleConnectionTestPeriodInMinutes" value="${dataSource.idleConnectionTestPeriodInMinutes:120}" />
		<property name="idleMaxAgeInMinutes" value="${dataSource.idleMaxAgeInMinutes:60}" />
		<property name="maxConnectionAgeInSeconds" value="${dataSource.maxConnectionAgeInSeconds:14400}"/>
		<property name="connectionTestStatement" value="${jdbc.connectionTestStatement:/* ping *\/ select 1}" />
	</bean>	
	<bean id="miscGroupRead1" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass"
			value="${jdbc.driverClassName:com.mysql.jdbc.Driver}" />
		<property name="jdbcUrl"
			value="${jdbc.url:jdbc:mysql:///ironrhino?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useServerPrepStmts=true}" />
		<property name="username" value="${jdbc.username:root}" />
		<property name="password" value="${jdbc.password:}" />
		<property name="maxConnectionsPerPartition" value="${dataSource.maxActive:50}" />
		<property name="minConnectionsPerPartition" value="${dataSource.initialSize:5}" />
		<property name="statementsCacheSize" value="${dataSource.statementsCacheSize:50}" />
		<property name="idleConnectionTestPeriodInMinutes" value="${dataSource.idleConnectionTestPeriodInMinutes:120}" />
		<property name="idleMaxAgeInMinutes" value="${dataSource.idleMaxAgeInMinutes:60}" />
		<property name="maxConnectionAgeInSeconds" value="${dataSource.maxConnectionAgeInSeconds:14400}"/>
		<property name="connectionTestStatement" value="${jdbc.connectionTestStatement:/* ping *\/ select 1}" />
	</bean>	
	<bean id="miscGroupRead2" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass"
			value="${jdbc.driverClassName:com.mysql.jdbc.Driver}" />
		<property name="jdbcUrl"
			value="${jdbc.url:jdbc:mysql:///ironrhino?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useServerPrepStmts=true}" />
		<property name="username" value="${jdbc.username:root}" />
		<property name="password" value="${jdbc.password:}" />
		<property name="maxConnectionsPerPartition" value="${dataSource.maxActive:50}" />
		<property name="minConnectionsPerPartition" value="${dataSource.initialSize:5}" />
		<property name="statementsCacheSize" value="${dataSource.statementsCacheSize:50}" />
		<property name="idleConnectionTestPeriodInMinutes" value="${dataSource.idleConnectionTestPeriodInMinutes:120}" />
		<property name="idleMaxAgeInMinutes" value="${dataSource.idleMaxAgeInMinutes:60}" />
		<property name="maxConnectionAgeInSeconds" value="${dataSource.maxConnectionAgeInSeconds:14400}"/>
		<property name="connectionTestStatement" value="${jdbc.connectionTestStatement:/* ping *\/ select 1}" />
	</bean>	
	<bean id="miscGroupRead3" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass"
			value="${jdbc.driverClassName:com.mysql.jdbc.Driver}" />
		<property name="jdbcUrl"
			value="${jdbc.url:jdbc:mysql:///ironrhino?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useServerPrepStmts=true}" />
		<property name="username" value="${jdbc.username:root}" />
		<property name="password" value="${jdbc.password:}" />
		<property name="maxConnectionsPerPartition" value="${dataSource.maxActive:50}" />
		<property name="minConnectionsPerPartition" value="${dataSource.initialSize:5}" />
		<property name="statementsCacheSize" value="${dataSource.statementsCacheSize:50}" />
		<property name="idleConnectionTestPeriodInMinutes" value="${dataSource.idleConnectionTestPeriodInMinutes:120}" />
		<property name="idleMaxAgeInMinutes" value="${dataSource.idleMaxAgeInMinutes:60}" />
		<property name="maxConnectionAgeInSeconds" value="${dataSource.maxConnectionAgeInSeconds:14400}"/>
		<property name="connectionTestStatement" value="${jdbc.connectionTestStatement:/* ping *\/ select 1}" />
	</bean>
	<bean id="miscGroupWrite1" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass"
			value="${jdbc.driverClassName:com.mysql.jdbc.Driver}" />
		<property name="jdbcUrl"
			value="${jdbc.url:jdbc:mysql:///ironrhino?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useServerPrepStmts=true}" />
		<property name="username" value="${jdbc.username:root}" />
		<property name="password" value="${jdbc.password:}" />
		<property name="maxConnectionsPerPartition" value="${dataSource.maxActive:50}" />
		<property name="minConnectionsPerPartition" value="${dataSource.initialSize:5}" />
		<property name="statementsCacheSize" value="${dataSource.statementsCacheSize:50}" />
		<property name="idleConnectionTestPeriodInMinutes" value="${dataSource.idleConnectionTestPeriodInMinutes:120}" />
		<property name="idleMaxAgeInMinutes" value="${dataSource.idleMaxAgeInMinutes:60}" />
		<property name="maxConnectionAgeInSeconds" value="${dataSource.maxConnectionAgeInSeconds:14400}"/>
		<property name="connectionTestStatement" value="${jdbc.connectionTestStatement:/* ping *\/ select 1}" />
	</bean>
	<bean id="miscGroupWrite2" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass"
			value="${jdbc.driverClassName:com.mysql.jdbc.Driver}" />
		<property name="jdbcUrl"
			value="${jdbc.url:jdbc:mysql:///ironrhino?autoReconnectForPools=true&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;useServerPrepStmts=true}" />
		<property name="username" value="${jdbc.username:root}" />
		<property name="password" value="${jdbc.password:}" />
		<property name="maxConnectionsPerPartition" value="${dataSource.maxActive:50}" />
		<property name="minConnectionsPerPartition" value="${dataSource.initialSize:5}" />
		<property name="statementsCacheSize" value="${dataSource.statementsCacheSize:50}" />
		<property name="idleConnectionTestPeriodInMinutes" value="${dataSource.idleConnectionTestPeriodInMinutes:120}" />
		<property name="idleMaxAgeInMinutes" value="${dataSource.idleMaxAgeInMinutes:60}" />
		<property name="maxConnectionAgeInSeconds" value="${dataSource.maxConnectionAgeInSeconds:14400}"/>
		<property name="connectionTestStatement" value="${jdbc.connectionTestStatement:/* ping *\/ select 1}" />
	</bean>	
	
	<!--
		<bean id="mainGroupMaster"
			class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
			p:url="${jdbc.url}" p:username="${jdbc.username}"
			p:password="${jdbc.password}"
			p:driverClassName="${jdbc.driverClassName}"
			p:poolPreparedStatements="true" 
			p:removeAbandoned="true"
			p:initialSize="${dataSource.initialSize}" 
			p:maxActive="${dataSource.maxActive}"
			p:maxIdle="${dataSource.maxIdle}" 
			p:minIdle="${dataSource.minIdle}"
			p:maxWait="${dataSource.maxWait}" />
		<bean id="mainGroupRead1"
			class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
			p:url="${jdbc.url}" p:username="${jdbc.username}"
			p:password="${jdbc.password}"
			p:driverClassName="${jdbc.driverClassName}"
			p:poolPreparedStatements="true" 
			p:removeAbandoned="true"
			p:initialSize="${dataSource.initialSize}" 
			p:maxActive="${dataSource.maxActive}"
			p:maxIdle="${dataSource.maxIdle}" 
			p:minIdle="${dataSource.minIdle}"
			p:maxWait="${dataSource.maxWait}" />
		<bean id="mainGroupRead2"
			class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
			p:url="${jdbc.url}" p:username="${jdbc.username}"
			p:password="${jdbc.password}"
			p:driverClassName="${jdbc.driverClassName}"
			p:poolPreparedStatements="true" 
			p:removeAbandoned="true"
			p:initialSize="${dataSource.initialSize}" 
			p:maxActive="${dataSource.maxActive}"
			p:maxIdle="${dataSource.maxIdle}" 
			p:minIdle="${dataSource.minIdle}"
			p:maxWait="${dataSource.maxWait}" />
		<bean id="mainGroupRead3"
			class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
			p:url="${jdbc.url}" p:username="${jdbc.username}"
			p:password="${jdbc.password}"
			p:driverClassName="${jdbc.driverClassName}"
			p:poolPreparedStatements="true" 
			p:removeAbandoned="true"
			p:initialSize="${dataSource.initialSize}" 
			p:maxActive="${dataSource.maxActive}"
			p:maxIdle="${dataSource.maxIdle}" 
			p:minIdle="${dataSource.minIdle}"
			p:maxWait="${dataSource.maxWait}" />
		<bean id="mainGroupWrite1"
			class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
			p:url="${jdbc.url}" p:username="${jdbc.username}"
			p:password="${jdbc.password}"
			p:driverClassName="${jdbc.driverClassName}"
			p:poolPreparedStatements="true" 
			p:removeAbandoned="true"
			p:initialSize="${dataSource.initialSize}" 
			p:maxActive="${dataSource.maxActive}"
			p:maxIdle="${dataSource.maxIdle}" 
			p:minIdle="${dataSource.minIdle}"
			p:maxWait="${dataSource.maxWait}" />
		<bean id="mainGroupWrite2"
			class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
			p:url="${jdbc.url}" p:username="${jdbc.username}"
			p:password="${jdbc.password}"
			p:driverClassName="${jdbc.driverClassName}"
			p:poolPreparedStatements="true" 
			p:removeAbandoned="true"
			p:initialSize="${dataSource.initialSize}" 
			p:maxActive="${dataSource.maxActive}"
			p:maxIdle="${dataSource.maxIdle}" 
			p:minIdle="${dataSource.minIdle}"
			p:maxWait="${dataSource.maxWait}" />


		<bean id="miscGroupMaster"
			class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
			p:url="${jdbc.url}" p:username="${jdbc.username}"
			p:password="${jdbc.password}"
			p:driverClassName="${jdbc.driverClassName}"
			p:poolPreparedStatements="true" 
			p:removeAbandoned="true"
			p:initialSize="${dataSource.initialSize}" 
			p:maxActive="${dataSource.maxActive}"
			p:maxIdle="${dataSource.maxIdle}" 
			p:minIdle="${dataSource.minIdle}"
			p:maxWait="${dataSource.maxWait}" />
		<bean id="miscGroupRead1"
			class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
			p:url="${jdbc.url}" p:username="${jdbc.username}"
			p:password="${jdbc.password}"
			p:driverClassName="${jdbc.driverClassName}"
			p:poolPreparedStatements="true" 
			p:removeAbandoned="true"
			p:initialSize="${dataSource.initialSize}" 
			p:maxActive="${dataSource.maxActive}"
			p:maxIdle="${dataSource.maxIdle}" 
			p:minIdle="${dataSource.minIdle}"
			p:maxWait="${dataSource.maxWait}" />
		<bean id="miscGroupRead2"
			class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
			p:url="${jdbc.url}" p:username="${jdbc.username}"
			p:password="${jdbc.password}"
			p:driverClassName="${jdbc.driverClassName}"
			p:poolPreparedStatements="true" 
			p:removeAbandoned="true"
			p:initialSize="${dataSource.initialSize}" 
			p:maxActive="${dataSource.maxActive}"
			p:maxIdle="${dataSource.maxIdle}" 
			p:minIdle="${dataSource.minIdle}"
			p:maxWait="${dataSource.maxWait}" />
		<bean id="miscGroupRead3"
			class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
			p:url="${jdbc.url}" p:username="${jdbc.username}"
			p:password="${jdbc.password}"
			p:driverClassName="${jdbc.driverClassName}"
			p:poolPreparedStatements="true" 
			p:removeAbandoned="true"
			p:initialSize="${dataSource.initialSize}" 
			p:maxActive="${dataSource.maxActive}"
			p:maxIdle="${dataSource.maxIdle}" 
			p:minIdle="${dataSource.minIdle}"
			p:maxWait="${dataSource.maxWait}" />
		<bean id="miscGroupWrite1"
			class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
			p:url="${jdbc.url}" p:username="${jdbc.username}"
			p:password="${jdbc.password}"
			p:driverClassName="${jdbc.driverClassName}"
			p:poolPreparedStatements="true" 
			p:removeAbandoned="true"
			p:initialSize="${dataSource.initialSize}" 
			p:maxActive="${dataSource.maxActive}"
			p:maxIdle="${dataSource.maxIdle}" 
			p:minIdle="${dataSource.minIdle}"
			p:maxWait="${dataSource.maxWait}" />
		<bean id="miscGroupWrite2"
			class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
			p:url="${jdbc.url}" p:username="${jdbc.username}"
			p:password="${jdbc.password}"
			p:driverClassName="${jdbc.driverClassName}"
			p:poolPreparedStatements="true" 
			p:removeAbandoned="true"
			p:initialSize="${dataSource.initialSize}" 
			p:maxActive="${dataSource.maxActive}"
			p:maxIdle="${dataSource.maxIdle}" 
			p:minIdle="${dataSource.minIdle}"
			p:maxWait="${dataSource.maxWait}" />
-->

</beans>
