<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %c %p %m%n"/>
		</layout>
	</appender>
	<appender name="APPLICATION" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${app.home}/logs/application.log"/>
		<param name="encoding" value="utf-8"/>
		<param name="threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %t %c %p %X{session}%X{url} %m%n"/>
		</layout>
	</appender>
	<appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${app.home}/logs/application-error.log"/>
		<param name="encoding" value="utf-8"/>
		<param name="threshold" value="ERROR"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %c %p%X{url} %m%n"/>
		</layout>
	</appender>
	<appender name="REMOTING" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${app.home}/logs/remoting.log"/>
		<param name="encoding" value="utf-8"/>
		<param name="threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %c %p %m%n"/>
		</layout>
	</appender>
	<appender name="ACCESS" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${app.home}/logs/access.log"/>
		<param name="encoding" value="utf-8"/>
		<param name="threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d%X{username}@%X{remoteAddr} %X{method}%X{url}%X{userAgent}%X{referer}%X{session}%n"/>
		</layout>
	</appender>
	<appender name="ACCESS-WARN" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="${app.home}/logs/access-warn.log"/>
		<param name="encoding" value="utf-8"/>
		<param name="threshold" value="WARN"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d%X{username}@%X{remoteAddr} %X{method}%X{url}%X{userAgent}%X{referer}	%m%n"/>
		</layout>
	</appender>
   
	<logger name="org.springframework.core.io.support.PathMatchingResourcePatternResolver" additivity="true">
		<level value="ERROR"/>
	</logger>
	<logger name="com.opensymphony.xwork2.ognl.OgnlValueStack" additivity="true">
		<level value="ERROR"/>
	</logger>
	<logger name="org.apache.struts2.components.ServletUrlRenderer" additivity="true">
		<level value="ERROR"/>
	</logger>
	<logger name="org.springframework.core.type.classreading.AnnotationAttributesReadingVisitor" additivity="true">
		<level value="ERROR"/>
	</logger>
	<logger name="com.opensymphony.xwork2.config.providers.XmlConfigurationProvider" additivity="true">
		<level value="ERROR"/>
	</logger>
	<logger name="org.hibernate.SQL" additivity="true">
		<level value="${hibernate.logger.level}"/>
	</logger>
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" additivity="true">
		<level value="${hibernate.logger.level}"/>
	</logger>
	<logger name="org.ironrhino.core.remoting" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="REMOTING"/>
	</logger>
	<logger name="access" additivity="false">
		<level value="INFO"/>
		<appender-ref ref="ACCESS"/>
	</logger>
	<logger name="access-warn" additivity="false">
		<level value="WARN"/>
		<appender-ref ref="ACCESS-WARN"/>
	</logger>
	<root>
		<level value="INFO"/>
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="APPLICATION"/>
		<appender-ref ref="ERROR"/>
	</root>
	
</log4j:configuration>
