<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<security:http access-denied-page="/WEB-INF/view/jsp/error/403.jsp"
		entry-point-ref="entryPoint">
		<security:intercept-url pattern="/scripts/**" access="ROLE_BUILTIN_ANONYMOUS" requires-channel="any" />
		<security:intercept-url pattern="/common/**" access="ROLE_SUPERVISOR" requires-channel="https" />
		<security:intercept-url pattern="/ums/**" access="ROLE_SUPERVISOR" requires-channel="https" />
		<security:intercept-url pattern="/pms/**" access="ROLE_SUPERVISOR" requires-channel="https" />
		<security:intercept-url pattern="/login" access="ROLE_BUILTIN_ANONYMOUS" requires-channel="https" />
		<security:intercept-url pattern="/signup" access="ROLE_BUILTIN_ANONYMOUS" requires-channel="https" />
		<security:intercept-url pattern="/account/**" access="ROLE_BUILTIN_USER" requires-channel="https" />
		<security:intercept-url pattern="/index" access="ROLE_BUILTIN_ANONYMOUS" requires-channel="http" />
		<security:intercept-url pattern="/switchUser" access="ROLE_SUPERVISOR"/>
		<security:intercept-url pattern="/switch" access="ROLE_SUPERVISOR"/>
		<security:intercept-url pattern="/exit" access="ROLE_PREVIOUS_ADMINISTRATOR"/>
		<security:intercept-url pattern="/" access="ROLE_BUILTIN_ANONYMOUS" requires-channel="http" />
		<security:intercept-url pattern="/**" access="ROLE_BUILTIN_ANONYMOUS" requires-channel="any" />
		<security:anonymous granted-authority="ROLE_BUILTIN_ANONYMOUS" username="anonymousUser" key="anonymous" />
		<security:remember-me services-ref="rememberMeServices" />
		<security:logout logout-url="/logout" logout-success-url="/" invalidate-session="true" />
	</security:http>
	
	<bean id="rememberMeServices"
		class="org.ironrhino.core.security.spring.CustomizableTokenBasedRememberMeServices"
		p:key="youcannotguessme" p:parameter="rememberme" p:cookieName="REMEMBERME"
		p:userDetailsService-ref="userManager" />
	<bean id="passwordEncoder"
		class="org.ironrhino.core.security.spring.MixedPasswordEncoder" />

	<bean id="switchUserProcessingFilter"
		class="org.springframework.security.ui.switchuser.SwitchUserProcessingFilter"
		p:userDetailsService-ref="userManager" p:switchUserUrl="/switch"
		p:exitUserUrl="/exit" p:targetUrl="/" >
		<security:custom-filter position="SWITCH_USER_FILTER" />
	</bean>

	<security:authentication-manager alias="authenticationManager"/>
	<security:authentication-provider user-service-ref="userManager">
		<security:password-encoder ref="passwordEncoder" />
	</security:authentication-provider>
	<bean id="entryPoint"
		class="org.ironrhino.core.security.spring.DefaultAuthenticationProcessingFilterEntryPoint"
		p:loginFormUrl="/login" p:base="${base}" p:forceHttps="true" />
	<bean id="authenticationProcessingFilter"
		class="org.ironrhino.ums.security.UserAuthenticationProcessingFilter"
		p:usernameParameter="username" p:passwordParameter="password"
		p:authenticationFailureUrl="/login?error=user.bad.credentials"
		p:defaultTargetUrl="/" p:filterProcessesUrl="/check"
		p:serverSideRedirect="true" p:authenticationManager-ref="authenticationManager"
		p:rememberMeServices-ref="rememberMeServices">
		<security:custom-filter position="AUTHENTICATION_PROCESSING_FILTER" />
		<property name="targetUrlResolver">
			<bean
				class="org.ironrhino.core.security.spring.GracefulTargetUrlResolver" />
		</property>
		<property name="exceptionMappings">
			<value>
						org.springframework.security.DisabledException=/login?error=user.disabled
						org.springframework.security.BadCredentialsException=/login?error=user.bad.credentials
						org.springframework.security.LockedException=/login?error=user.locked
						org.springframework.security.AccountExpiredException=/login?error=user.expired
						org.springframework.security.concurrent.ConcurrentLoginException=/login?error=user.concurrent.login
						org.springframework.security.CredentialsExpiredException=/login?error=user.credentials.expired
			</value>
		</property>
	</bean>
	
</beans>
