<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	<bean id="cart" class="org.ironrhino.online.support.Cart" />
	<bean id="consumerManager"
		class="org.openid4java.consumer.ConsumerManager"
		p:connectTimeout="10000" />
	<bean id="order" class="org.ironrhino.online.model.Order"
		scope="session">
		<aop:scoped-proxy />
	</bean>
	<bean id="productPageGenerator"
		class="org.ironrhino.online.support.ProductPageGenerator"
		p:base="${base}" />
	<bean id="newArrivalProductNotifier"
		class="org.ironrhino.online.support.NewArrivalProductNotifier"
		p:subject="${newArrivalProductNotifier.subject}" />
	<bean id="staticResourceFilter"
		class="org.ironrhino.online.servlet.StaticResourceFilter" />
	<bean id="productHitsControl"
		class="org.ironrhino.online.support.ProductHitsControl" />
	<bean id="searchHitsControl"
		class="org.ironrhino.online.support.SearchHitsControl" />
</beans>
