<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="dataSource"
		class="org.ironrhino.core.ext.spring.ReadWriteRouteDataSource">
		<property name="writeDataSourceNames">
			<map>
				<!-- dataSource beanName and RoundRobin weight -->
				<entry  key="defaultDataSource" value="1"/>
			</map>
		</property>
		<property name="readDataSourceNames">
			<map>
				<entry  key="defaultDataSource" value="1"/>
				<entry  key="defaultDataSource" value="2"/>
				<entry  key="defaultDataSource" value="3"/>
			</map>
		</property>
	</bean>
	<bean id="defaultDataSource"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
		p:url="${jdbc.url}" p:username="${jdbc.username}"
		p:password="${jdbc.password}"
		p:driverClassName="${jdbc.driverClassName}"
		p:poolPreparedStatements="true" />
</beans>
