<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="accountAuthenticationManager"
		class="org.springframework.security.providers.ProviderManager">
		<property name="providers">
			<list>
				<ref bean="daoAuthenticationProvider" />
				<ref bean="anonymousAuthenticationProvider" />
				<ref bean="rememberMeAuthenticationProvider" />
			</list>
		</property>
	</bean>
	<bean id="passwordEncoder"
		class="org.ironrhino.core.ext.spring.security.PasswordEncoder" />
	<bean id="daoAuthenticationProvider"
		class="org.springframework.security.providers.dao.DaoAuthenticationProvider">
		<property name="userDetailsService" ref="accountManager" />
		<property name="userCache" ref="accountCache" />
		<property name="passwordEncoder" ref="passwordEncoder" />
	</bean>
	<bean id="accountCache"
		class="org.springframework.security.providers.dao.cache.EhCacheBasedUserCache">
		<property name="cache">
			<bean
				class="org.springframework.cache.ehcache.EhCacheFactoryBean">
				<property name="cacheManager" ref="cacheManager" />
				<property name="cacheName" value="accountCache" />
			</bean>
		</property>
	</bean>
	<bean id="rememberMeProcessingFilter"
		class="org.springframework.security.ui.rememberme.RememberMeProcessingFilter">
		<property name="authenticationManager"
			ref="accountAuthenticationManager" />
		<property name="rememberMeServices" ref="rememberMeServices" />
	</bean>
	<bean id="rememberMeServices"
		class="org.ironrhino.core.ext.spring.security.TokenBasedRememberMeServices">
		<property name="userDetailsService" ref="accountManager" />
		<property name="key" value="youcannotguessme" />
		<property name="parameter" value="rememberme" />
		<property name="cookieName" value="REMEMBERME" />
	</bean>
	<bean id="rememberMeAuthenticationProvider"
		class="org.springframework.security.providers.rememberme.RememberMeAuthenticationProvider">
		<property name="key" value="youcannotguessme" />
	</bean>
	<bean id="accountLogoutFilter"
		class="org.springframework.security.ui.logout.LogoutFilter">
		<constructor-arg value="/" />
		<constructor-arg>
			<list>
				<ref bean="rememberMeServices" />
				<ref bean="securityContextLogoutHandler" />
			</list>
		</constructor-arg>
		<property name="filterProcessesUrl" value="/account/logout" />
	</bean>
	<bean id="accountExceptionTranslationFilter"
		class="org.springframework.security.ui.ExceptionTranslationFilter">
		<property name="authenticationEntryPoint"
			ref="authenticationProcessingFilterEntryPoint" />
		<property name="accessDeniedHandler" ref="accessDeniedHandler" />
	</bean>
	<bean id="authenticationProcessingFilter"
		class="org.ironrhino.online.servlet.AuthenticationProcessingFilter">
		<property name="usernameParameter" value="username" />
		<property name="passwordParameter" value="password" />
		<property name="authenticationManager"
			ref="accountAuthenticationManager" />
		<property name="authenticationFailureUrl"
			value="/account/login?error=account.bad.credentials" />
		<property name="defaultTargetUrl" value="/account/index" />
		<property name="targetUrlResolver">
			<bean
				class="org.ironrhino.core.ext.spring.security.TargetUrlResolver" />
		</property>
		<property name="filterProcessesUrl" value="/account/check" />
		<property name="rememberMeServices" ref="rememberMeServices" />
		<property name="serverSideRedirect" value="true" />
		<property name="exceptionMappings">
			<value>
				org.springframework.security.DisabledException=/account/login?error=account.disabled
				org.springframework.security.BadCredentialsException=/account/login?error=account.bad.credentials
				org.springframework.security.LockedException=/account/login?error=account.locked
				org.springframework.security.AccountExpiredException=/account/login?error=account.expired
				org.springframework.security.concurrent.ConcurrentLoginException=/account/login?error=account.concurrent.login
				org.springframework.security.CredentialsExpiredException=/account/login?error=account.credentials.expired
			</value>
		</property>
		<property name="accountManager" ref="accountManager" />
	</bean>
	<bean id="authenticationProcessingFilterEntryPoint"
		class="org.springframework.security.ui.webapp.AuthenticationProcessingFilterEntryPoint">
		<property name="loginFormUrl" value="/account/login" />
		<property name="forceHttps" value="true" />
	</bean>
	<bean id="accountSwitchUserProcessingFilter"
		class="org.springframework.security.ui.switchuser.SwitchUserProcessingFilter">
		<property name="userDetailsService" ref="accountManager" />
		<property name="switchUserUrl" value="/account/switch" />
		<property name="exitUserUrl" value="/account/exit" />
		<property name="targetUrl" value="/account" />
	</bean>
	<bean id="accountFilterInvocationInterceptor"
		class="org.springframework.security.intercept.web.FilterSecurityInterceptor">
		<property name="authenticationManager"
			ref="accountAuthenticationManager" />
		<property name="accessDecisionManager"
			ref="httpRequestAccessDecisionManager" />
		<property name="objectDefinitionSource">
			<bean
				class="org.springframework.aop.framework.ProxyFactoryBean">
				<property name="targetSource"
					ref="filterInvocationInterceptorObjectDefinitionSource" />
			</bean>
		</property>
	</bean>
</beans>
