<?xml version="1.0" encoding="UTF-8"?>
<beans profile="dual,cloud,cluster" default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:redis="http://www.springframework.org/schema/redis" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/redis http://www.springframework.org/schema/redis/spring-redis.xsd">
	<bean id="redisConnectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		p:usePool="true" p:hostName="${redis.host:localhost}" p:port="${redis.port:6379}"
		p:database="${redis.database:0}">
		<property name="poolConfig">
			<bean class="redis.clients.jedis.JedisPoolConfig" p:maxActive="${redis.maxActive:50}" />
		</property>
	</bean>
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
		p:connectionFactory-ref="redisConnectionFactory" primary="true">
		<property name="keySerializer">
			<bean
				class="org.springframework.data.redis.serializer.StringRedisSerializer" />
		</property>
	</bean>
	<bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate"
		p:connectionFactory-ref="redisConnectionFactory" />
	<redis:listener-container connection-factory="redisConnectionFactory"
		task-executor="executorService">
	</redis:listener-container>
	<bean id="redisApplicationEventTopic" class="org.ironrhino.core.event.RedisApplicationEventTopic" />
</beans>