<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="filterChainProxy"
		class="org.springframework.security.util.FilterChainProxy">
		<property name="filterInvocationDefinitionSource">
			<value>
				CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
				PATTERN_TYPE_APACHE_ANT
				/backend/**=httpSessionContextIntegrationFilter,securityContextHolderAwareRequestFilter,channelProcessingFilter,backendLogoutFilter,casProcessingFilter,backendExceptionTranslationFilter,backendFilterInvocationInterceptor,backendSwitchUserProcessingFilter
				/account/**=httpSessionContextIntegrationFilter,securityContextHolderAwareRequestFilter,channelProcessingFilter,accountLogoutFilter,authenticationProcessingFilter,rememberMeProcessingFilter,anonymousProcessingFilter,accountExceptionTranslationFilter,accountFilterInvocationInterceptor,accountSwitchUserProcessingFilter
				/**=httpSessionContextIntegrationFilter,securityContextHolderAwareRequestFilter,channelProcessingFilter,rememberMeProcessingFilter,anonymousProcessingFilter
			</value>
		</property>
	</bean>

	<bean id="anonymousProcessingFilter"
		class="org.springframework.security.providers.anonymous.AnonymousProcessingFilter">
		<property name="key" value="anonymous" />
		<property name="userAttribute">
			<value>anonymousUser,ROLE_BUILTIN_ANONYMOUS</value>
		</property>
	</bean>

	<bean id="anonymousAuthenticationProvider"
		class="org.springframework.security.providers.anonymous.AnonymousAuthenticationProvider">
		<property name="key" value="anonymous" />
	</bean>

	<bean id="httpSessionContextIntegrationFilter"
		class="org.springframework.security.context.HttpSessionContextIntegrationFilter"/>

	<bean id="securityContextLogoutHandler"
		class="org.springframework.security.ui.logout.SecurityContextLogoutHandler" />

	<bean id="securityContextHolderAwareRequestFilter"
		class="org.springframework.security.wrapper.SecurityContextHolderAwareRequestFilter" />

	<bean id="httpRequestAccessDecisionManager"
		class="org.springframework.security.vote.AffirmativeBased">
		<property name="allowIfAllAbstainDecisions" value="false" />
		<property name="decisionVoters">
			<list>
				<ref bean="roleVoter" />
			</list>
		</property>
	</bean>

	<bean id="roleVoter" class="org.springframework.security.vote.RoleVoter"
		p:rolePrefix="" />

	<bean id="accessDeniedHandler"
		class="org.springframework.security.ui.AccessDeniedHandlerImpl">
		<property name="errorPage"
			value="/accessDenied.jsp" />
	</bean>

	<bean id="filterInvocationInterceptorObjectDefinitionSource"
		class="org.ironrhino.core.ext.spring.security.RefreshableFilterInvocationDefinitionSource" />

	<bean id="channelProcessingFilterInvocationDefinitionSource"
		class="org.ironrhino.core.ext.spring.security.RefreshableFilterInvocationDefinitionSource" />
	<bean id="channelProcessingFilter"
		class="org.springframework.security.securechannel.ChannelProcessingFilter">
		<property name="channelDecisionManager"
			ref="channelDecisionManager" />
		<property name="filterInvocationDefinitionSource">
			<bean
				class="org.springframework.aop.framework.ProxyFactoryBean">
				<property name="targetSource"
					ref="channelProcessingFilterInvocationDefinitionSource" />
			</bean>
		</property>
	</bean>
	<bean id="channelDecisionManager"
		class="org.springframework.security.securechannel.ChannelDecisionManagerImpl">
		<property name="channelProcessors">
			<list>
				<ref bean="secureChannelProcessor" />
				<ref bean="insecureChannelProcessor" />
			</list>
		</property>
	</bean>
	<bean id="secureChannelProcessor"
		class="org.springframework.security.securechannel.SecureChannelProcessor" />
	<bean id="insecureChannelProcessor"
		class="org.springframework.security.securechannel.InsecureChannelProcessor" />
</beans>
