<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName" 
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="jbpmConfiguration" class="org.jbpm.pvm.internal.cfg.SpringConfiguration">
		<constructor-arg value="resources/jbpm/jbpm.cfg.xml" />
	</bean>
	<bean id="processEngine" factory-bean="jbpmConfiguration" factory-method="buildProcessEngine" />
	<bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
	<bean id="executionService" factory-bean="processEngine" factory-method="getExecutionService" />
	<bean id="deployService" class="org.ironrhino.core.jbpm.DeployServiceImpl"/>
	<bean id="processInformationService" class="org.ironrhino.core.jbpm.ProcessInformationServiceImpl"/>
	<bean id="processService" class="org.ironrhino.core.jbpm.ProcessServiceImpl"/>
</beans>