<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="productFacade"
		class="org.ironrhino.online.service.ProductFacadeImpl" />
	<bean id="accountManager"
		class="org.ironrhino.online.service.AccountManagerImpl" />
	<bean id="orderManager"
		class="org.ironrhino.online.service.OrderManagerImpl" />
</beans>
