input[type="text"],input[type="password"]{
	height:15px;
}
div.field_error,div.action_error,ul.field_error li,div.action_message,ul.action_message li,.field_error .close,.action_error .close,.action_message .close {
	background-image: url(../images/msg.gif);
}
input.required {
	background-image: url(../images/required.gif);
}
#indicator {
	position: absolute;
	top: expression(eval(document.compatMode&&document.compatMode =='CSS1Compat')?documentElement.scrollTop:document.body.scrollTop);
}