@charset "utf-8";

#indicator {
	position: absolute;
	top: expression(eval(document.compatMode&&document.compatMode =='CSS1Compat')?documentElement.scrollTop:document.body.scrollTop);
}
#cart_items {
	height: 200px;
}

.tooltip {
	width: 150px;
}

.nav li {
	color: #000;
	height: 20px;
}

.nav li.sfHover,.nav li.sfHover ul li {
	background: #ccc;
	height: 20px;
}

.nav ul li {
	border: 1px solid #000;
	border-bottom: 0;
	padding-right: 20px;
}

.nav ul a {
	border: 0;
}

.nav li:hover ul,.nav li.sfHover ul {
	top: 20px;
}