table.sortable {
	width: 100%;
	border-collapse: collapse;
}
table.sortable td,th {
	padding: 0.5em;
	border: 1px solid #CCC;
}
.sortcol {
	cursor: pointer;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(../images/notsorted.gif);
	background-color: transparent;
}
.sortasc {
	background-image: url(../images/asc.gif);
}
.sortdesc {
	background-image: url(../images/desc.gif);
}