input,select,checkbox {
	border: 1px solid #0070FF;
}

select {
	width: 150px;
}

input.date,input.integer,input.double {
	width: 90px;
}

input.required {
	background: #FFF url(../images/required.png) no-repeat right;
}

form div {
	margin: 5px 0px 5px 0px;
}

form label.field {
	display: block;
	float: left;
	width: 80px;
}

div.top label {
	float: none;
}

.field_error {
	color: red;
}