.menu {
	height:35px;
	padding:5px 0px 0px 0px;
	position:absolute;
	left:0;
	bottom:0;
	float:left;
	width:100%;
	background: #B7B7B7;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCCCCC), to(#CCCCCC), color-stop(.5,#A7A7A7));
	background: -moz-linear-gradient(top,  #cccccc,  #b7b7b7);
	border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
}
.menu li {
	float:left;
}
.menu li a {
	width:65px;
	display:block;
	height:30px;
	line-height:30px;
	font-size:1.2em;
	font-weight:bold;
	text-align:center;
	margin:0px 5px 0px 5px;
}
.menu li.selected a,.menu li a:hover {
	color:#fff;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	background:#7a7a7a;
	background: -webkit-gradient(linear, left top, left bottom, from(#929292), to(#5a5a5a));
	background: -moz-linear-gradient(top,  #929292,  #5a5a5a);
}

.menu li ul {
	z-index: 9999;
	width:100px;
	display:none;
	position:absolute;
	top:35px;
	left:0;
	background: #B7B7B7;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCCCCC), to(#CCCCCC), color-stop(.5,#A7A7A7));
	background: -moz-linear-gradient(top,  #cccccc,  #b7b7b7);
	border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
}
.menu li ul li {
	float:none;
	display:block;
}
.menu li:hover ul{
	display:block;
}