input[type="text"],input[type="password"],select,textarea {
	border: 1px solid #0064b4;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
input[type="text"],input[type="password"],select{
	height:20px;
}
select {
	width: 150px;
}

select.combox{
	cursor: text;
}

input.integer,input.double {
	width: 90px;
	font-family: Arial;
}

input.date {
	width: 80px;
	font-family: Arial;
}

input.required {
	background: #FFF url(../images/required.png) no-repeat right;
}

form>div {
	margin: 10px 0px 10px 0px;
}

form>div.submit{
text-align:center;
}

form.line>div {
	margin-right: 2px;
	float: left;
}

form label.field {
	display: block;
	float: left;
	width: 80px;
}

div.top label {
	float: none;
}

.field_error {
	color: red;
}