.pagination a{
	padding:1px 7px;
	border:1px solid #8397ee;
	text-decoration:none;
	background-color:#F5F5F5;
	width:22px;
}

.pagination .disabled {
	padding:1px 7px;
	border:1px solid #EBEBEB;
	background-color:#F5F5F5;
	color:#545454;
}

.pagination a:hover {
	background-color:#DDEEFF;
	border:1px solid #BBDDFF;
}

.pagination .selected {
	border:1px solid #e5aeee;
}