/*override bootstrap start*/
body.main {
	padding-top: 60px;
	padding-bottom: 10px;
}
body {
	padding-top: 0;
	padding-bottom: 0;
}
.table.middle th, .table.middle td{
	vertical-align: middle;
}
td.center {
	text-align:center;
}
td.middle {
	vertical-align:middle;
}
.navbar-fixed-top, .navbar-fixed-bottom{
	z-index: 1000;
	font-size:1.1em;
}
.ui-icon.close{
	opacity: 1;
	filter: alpha(opacity=100);
}
/*override bootstrap end*/
/*override jqueryui start*/
.ui-widget{
	font-size: 1em;
}
/*override bootstrap end*/
body ::-webkit-scrollbar {
    width: 12px;
}
body ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
body ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(225,225,225,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
body ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(225,225,225,0.4); 
}
#indicator {
	position: fixed;
	z-index: 10000;
	left: 50%;
	top: 0px;
	height: 24px;
	min-width: 80px;
	float: right;
	font-weight:bold;
	padding: 0px 2px;
	background: #FFEF7A;
	margin-left: -60px;
	border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
}
#indicator.error {
	background: #F00;
}
.btn-group .active{
	cursor:default;
}
#treeview li.highlight {
	font-weight:bold;
}
.highlight {
	background: #FF6;
}
thead,tfoot {
	background-color: #EEE;
}
td.fieldlabel{
	width:100px;
	text-align:right;
	font-weight:bold;
	background-color: #eee;
}
ul.attributes li{
	display: block;
    float: left;
    width: 200px;
    overflow: hidden;
    margin-right: 20px;
    padding-top: 5px;
    text-indent: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
ul.attributes li span.value{
    padding-left: 10px;
}
ul.attributes span.group{
	font-weight:bold;
}
ul.attributes li.group ul{
	padding-left:10px;
}
.treeselect .control-label,.listpick .control-label{
	cursor:pointer;
}
.treeselect .controls span,.listpick .controls span{
	display:inline-block;
	margin:5px 0;
}
a.remove {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

a.remove:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.icon-download-alt,.icon-download{
 opacity: 0.2;
}
.icon-download-alt:hover,.icon-download:hover{
 opacity: 0.5;
}

.drophover { 
	border: 2px dashed #333 !important; 
}
.datagrided [class*="icon-"]{
	opacity: 0.6;
  	filter: alpha(opacity=60);
	cursor:pointer;
	margin: 3px;
}
.datagrided [class*="icon-"]:hover{
	opacity: 1;
  	filter: alpha(opacity=1);
}
/*textext*/
div.text-core{
	display:inline-block;
}
@media (min-width: 980px) and (max-width: 1024px) {
  .hidden-pad {
    display: none !important;
  }
}