#_window_ form{
	padding-top : 20px;
}
table.richtable thead {
	background: #DEDEDE;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EFEFEF), to(#EFEFEF), color-stop(.5,#DEDEDE));
	background: -moz-linear-gradient(center top , #EFEFEF, #DEDEDE, #EFEFEF);
	background: -o-linear-gradient(top,  #EFEFEF, #DEDEDE, #EFEFEF);
	background: -ms-linear-gradient(top, #EFEFEF, #DEDEDE, #EFEFEF);
	background: linear-gradient(to bottom, #EFEFEF, #DEDEDE, #EFEFEF);
}
table.richtable td,table.richtable th {
	padding: 0.5em;
	height: 30px;
	vertical-align: middle;
	word-break: break-all;
}
table.richtable th {
	min-width: 60px;
	padding: 0.5em 0;
}
.richtable th,.richtable .toolbar .action {
	text-align: center;
}
.richtable table td.action{
	white-space:nowrap;
	overflow:hidden;
}
.richtable input.text,.richtable textarea.text {
	width: 90%;
	margin: 0;
}
.richtable input.radio {
	width: auto;
	margin: 0;
}
.richtable select {
	width: 95%;
	margin: 0;
	padding-left: 0;
}
.richtable .selected td {
	background-color: #FFC !important;
}
.richtable td.edited{
	background-color: #fff3f0 !important;
}
.richtable .inputPage {
	width: 25px;
	height: 18px;
	text-align:right;
}
.richtable .totalPage {
	min-width: 25px;
	height: 18px;
	text-align:left;
}
.richtable .pageSize {
	border: 1px solid #ddd;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	width: 60px;
	height: 28px;
}

.richtable .toolbar .pagination,.richtable .toolbar .action,.richtable .toolbar .search,.richtable .toolbar .status{
	margin-top:18px;
	margin-bottom:0;
}

.richtable .toolbar .status{
	line-height: 26px;
	vertical-align: middle;
	text-align:right;
}

/*override bootstrap start*/
table.richtable {
	margin-bottom: 0;
}
.richtable input[name="keyword"]{
	width:100px;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}
.richtable input[name="keyword"]:focus{
	width:100%;
}
.richtable .pagination ul{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.richtable .pagination a{
	padding:0 8px;
	line-height: 26px;
}
.richtable .pagination li.disabled a i{
	filter: Alpha(Opacity=20); 
	opacity: 0.20;
}
.richtable .pagination li.firstPage a{
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}
.richtable .pagination li.lastPage a{
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}
.richtable .pagination span.input-append {
  padding: 0 4px;
  line-height: 20px;
  background-color: transparent;
  border: 0;
  margin-bottom: 4px;
}
.richtable .pagination span.add-on {
  float: none;
}
.richtable .pagination span.divider {
  float: none;
  padding: 0;
  line-height: 20px;
  background-color: transparent;
  border: 0;
}
.toolbar .btn[data-shown],.toolbar .btn[data-action="save"]{
	display: none;
}
/*override bootstrap end*/

.ui-dialog .richtable .toolbar .pagination{
	width:37%;
}
.ui-dialog .richtable .toolbar .action{
	margin-left: 0;
	width:20%;
}
.ui-dialog .richtable .toolbar .search{
	margin-left: 0;
	width:23%;
}
.ui-dialog .richtable .toolbar .status{
	margin-left: 0;
	width:20%;
}