.menu {
	height:35px;
	padding:5px 0px 0px 0px;
	position:absolute;
	left:0;
	bottom:0;
	float:left;
	width:100%;
	background: #CCCCCC;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCCCCC), to(#CCCCCC), color-stop(.5,#A7A7A7));
	background: -webkit-linear-gradient(center top , #CCCCCC, #A7A7A7, #CCCCCC);
	background: -moz-linear-gradient(center top , #CCCCCC, #A7A7A7, #CCCCCC);
	background: -ms-linear-gradient(center top , #CCCCCC, #A7A7A7, #CCCCCC);
	background: -o-linear-gradient(center top , #CCCCCC, #A7A7A7, #CCCCCC);
	background: linear-gradient(center top , #CCCCCC, #A7A7A7, #CCCCCC);
	-webkit-border-radius: 8px 8px 0px 0px;
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
}
.menu li {
	float:left;
}
.menu li a,.menu li span {
	width: auto !important;
	width: 60px;
	min-width:60px;
	display:block;
	height:30px;
	line-height:30px;
	font-size:1.2em;
	font-weight:bold;
	text-align:center;
	margin:0 5px;
	padding: 0 5px;
}
.menu li a.selected,.menu li a:hover {
	color:#fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background:#7a7a7a;
	background: -webkit-gradient(linear, left top, left bottom, from(#929292), to(#5A5A5A));
	background: -webkit-linear-gradient(0% 0% 270deg,#929292, #5A5A5A);
	background: -moz-linear-gradient(0% 0% 270deg,#929292, #5A5A5A);
	background: -ms-linear-gradient(0% 0% 270deg,#929292, #5A5A5A);
	background: -o-linear-gradient(0% 0% 270deg,#929292, #5A5A5A);
	background: linear-gradient(0% 0% 270deg,#929292, #5A5A5A);
}

.menu li ul {
	z-index: 9999;
	width: auto !important;
	width: 75px;
	min-width:75px;
	display:none;
	position:absolute;
	top:35px;
	background: #CCCCCC;
	padding-bottom:5px;
	-webkit-border-radius: 0px 0px 8px 8px;
	-moz-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
}
.menu li ul li {
	float:none;
	display:block;
}
.menu li:hover ul{
	display:block;
}