@charset "utf-8";
/*
body {
	overflow: hidden;
}

#wrapper {
	height: 100%;
	overflow: auto;
}

*/
#indicator {
	position: absolute; 
	right: 21px;
}
#cart_items {
	height: 200px;
}

.tooltip {
	width: 150px;
}

.nav li:hover ul,.nav li.sfHover ul {
	top: 16px;
}
