@charset "utf-8";

body {
	font-family: arial, sans-serif;
	font-size: 75%;
	color: #746455;
}

#indicator {
	position: fixed;
	z-index: 10;
	right: 0px;
	top: 0px;
	height: 20px;
	float: right;
	color: #FFF;
	background: #F00;
}

#indicator.loading {
	padding: 0px 0px 0px 25px;
	background: #F00 url(../images/indicator.gif) 0px 0px no-repeat;
}

#wrapper {
	padding-top: 20px;
}

#toolbar {
	padding: 0px 250px;
	text-align: center;
}

#toolbar img {
	height: 25px;
	width: 25px;
}

#header {
	padding: 0px 20px;
	height: 120px;
}

#logo {
	width: 220px;
	padding-left: 8px;
	float: left;
}

#menu {
	float: right;
	margin: 8px 0;
}

#cart {
	z-index: 5;
	height: 100%;
	background-color: #9cf;
}

#cart_header,#cart_footer {
	text-align: center;
}

#cart div.container {
	margin: 0 5px;
	background-color: #FFF;
}

#cart_items {
	min-height: 200px;
}

#cart_wastebin {
	height: 50px;
}

.nav,.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav {
	font-size: 11px;
	z-index: 100;
	position: relative;
}

.nav li {
	border-right: 1px solid #000;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
}

.nav li.last {
	border-right: 0px;
}

.nav li a,.nav li a:link,.nav li a:active,.nav li a:visited {
	font: bold 1.3em/ 25px arial, sans-serif;
	color: #959595;
	display: block;
	padding: 0 9px;
	text-decoration: none;
}

.nav li a:hover {
	background: #ccc;
	color: #000;
}

.nav li:hover a,.nav li.sfHover a {
	background: #ccc;
	color: #000;
}

.nav li:hover ul a,.nav li.sfHover ul a {
	color: #959595;
}

.nav li:hover ul a:hover,.nav li.sfHover ul a:hover {
	background: #ccc;
	color: #000;
}

.nav ul {
	border-bottom: 1px solid #000;
	list-style: none;
	margin: 0;
	width: 120px;
	position: absolute;
	top: -999em;
	left: -1px;
}

.nav li:hover ul,.nav li.sfHover ul {
	top: 25px;
}

.nav ul li {
	border: 0;
	float: none;
}

.nav ul a {
	border: 1px solid #000;
	border-bottom: 0;
	padding-right: 20px;
	width: 100px;
	white-space: nowrap;
}

.nav ul a:hover {
	background: #ccc;
	color: #000;
}

#search {
	float: right;
	clear: right;
	margin: 8px 0 0 0;
}

#footer {
	clear: both;
	margin-top: 10px;
	border-top: 2px solid #006E9B;
	padding: 0px 20px;
}

#footer p {
	float: left;
	margin: 0;
	padding: 7px 0 15px 0;
}

#footer ul {
	float: right;
	margin: 7px 0 0 0;
	padding: 0 0 10px 0;
}

#footer ul li {
	float: left;
	display: block;
	padding: 0 10px 0 0;
}

#footer ul li a {
	color: #746455;
	text-decoration: none;
}

#footer ul li a:hover {
	text-decoration: underline;
}

a:link,a:visited {
	color: #009;
	text-decoration: underline;
}

a:link,a:visited {
	color: #009;
}

a:hover,a:active {
	color: #000;
	text-decoration: none;
}

* {
	margin: 0px;
	padding: 0px;
}

form fieldset {
	border: 0px;
}

form input.required {
	background: url(../images/required.png) no-repeat right;
}

form fieldset div.fieldset {
	margin: 10px;
}

form fieldset div.label {
	float: left;
	width: 100px;
}

form fieldset div label.field_error {
	color: red;
}

.field_error,.action_error {
	height: 1.5em;
	line-height: 1.5em;
	padding: 2px 2px 1px 20px;
	border: 1px solid #F60;
	vertical-align: middle;
	background: #FFF2E9 url(../images/warning.png) 1px 1px no-repeat;
	color: #000;
}

.action_message {
	height: 1.5em;
	line-height: 1.5em;
	padding: 2px 2px 1px 20px;
	border: 1px solid #669eff;
	vertical-align: middle;
	background: #e8eef7 url(../images/information.png) 1px 1px no-repeat;
	color: #000;
}

.field_error .close,.action_error .close {
	width: 15px;
	height: 15px;
	float: right;
	background: url(../images/warning_close.png) 4px 4px no-repeat;
}

.action_message .close {
	width: 15px;
	height: 15px;
	float: right;
	background: url(../images/information_close.png) 4px 4px no-repeat;
}

ul,li {
	list-style: none;
}

cite {
	float: right;
	width: 80px;
	font-style: normal;
	color: #777;
	overflow: hidden;
	text-align: right;
	white-space: nowrap;
}

img {
	border: 0;
}

.highlight {
	background: #FF6;
}

.link {
	color: #00C;
	cursor: pointer;
	text-decoration: underline;
	white-space: nowrap;
}

.treeview a:hover {
	color: red;
}

.treeview a span {
	cursor: pointer;
}

.blankline {
	height: 8px;
	font-size: 1px;
	clear: both;
	overflow: hidden;
}

.draggable {
	cursor: move;
}

img.captcha {
	cursor: pointer;
	vertical-align: middle;
}

.clear {
	clear: both;
}

.inline {
	display: inline;
}

.hidden {
	display: none;
}

img.product_list {
	height: 100px;
	width: 100px;
}

img.cart_item {
	height: 50px;
	width: 50px;
}

img.captcha {
	height: 25px;
	width: 100px;
}

.ondrop {
	border: 1px dashed #b00;
}

div.category_top {
	background-color: #fcc;
}

div.category_top_title {
	text-align: center;
}

div.category_top a {
	text-decoration: none;
}

div.category_second {
	margin: 0px 10px;
	background-color: white;
}

a.category.selected {
	font-weight: bold;
}

ul.product_list {
	padding-left: 20px;
	margin-top: 10px;
	clear: both;
}

ul.product_list li {
	float: left;
	display: inline;
	width: 135px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

ul.product_list li a {
	text-align: center;
	width: 100%;
	display: block;
	padding: 4px 0px 4px 0px;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 6px;
}

input.openid {
	background: url(../images/openid.png) no-repeat;
	background-position: 0 50%;
	padding-left: 16px;
}

/* Start custom button CSS here
http://stopdesign.com/eg/buttons/3.0/code.html
    ---------------------------------------- */
.btn {
	display: inline-block;
	background: none;
	margin: 0;
	padding: 3px 0;
	border-width: 0;
	overflow: visible;
	font: 100%/ 1.2 Arial, Sans-serif;
	text-decoration: none;
	color: #333;
}

* html button.btn {
	padding-bottom: 1px;
}

/* Immediately below is a temporary hack to serve the 
       following margin values only to Gecko browsers
       Gecko browsers add an extra 3px of left/right 
       padding to button elements which can't be overriden.
       Thus, we use -3px of left/right margin to overcome this. */
html:not  ([lang *=""]  ) button.btn {
	margin: 0 -3px;
}

.btn span {
	background: #ddd url(../images/bg-button.gif) repeat-x 0 0;
	margin: 0;
	padding: 3px 0;
	border-left: 1px solid #bbb;
	border-right: 1px solid #aaa;
}

* html .btn span {
	padding-top: 0;
}

.btn span span {
	position: relative;
	padding: 3px .4em;
	border-width: 0;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #aaa;
}

/* pill classes only needed if using pill style buttons ( LEFT | CENTER | RIGHT ) */
button.pill-l span {
	border-right-width: 0;
}

button.pill-l span span {
	border-right: 1px solid #bbb;
}

button.pill-c span {
	border-right-style: none;
	border-left-color: #fff;
}

button.pill-c span span {
	border-right: 1px solid #bbb;
}

button.pill-r span {
	border-left-color: #fff;
}

/* only needed if implementing separate hover/focus/active state for buttons */
.btn:hover span,.btn:hover span span,.btn:focus span,.btn:focus span span
	{
	cursor: pointer; /* important for any clickable/pressable element */
	border-color: #9cf !important;
	color: #000;
}

.btn:active span {
	background-position: 0 -400px;
	outline: none;
}

.btn:focus,.btn:active {
	outline: none;
	/* doesn't seem to be respected for <button>, only <a> */
}

/* use if one button should be the 'primary' button */
.primary {
	font-weight: bold;
	color: #000;
}

.unit-rating { /* the UL */
	list-style: none;
	margin: 0px;
	padding: 0px;
	height: 30px;
	position: relative;
	float: left;
	background: url('../images/star_rating.gif') top left repeat-x;
}

.unit-rating li {
	text-indent: -90000px;
	padding: 0px;
	margin: 0px;
	float: left;
}

.unit-rating li a {
	outline: none;
	display: block;
	width: 30px;
	height: 30px;
	text-decoration: none;
	text-indent: -9000px;
	z-index: 20;
	position: absolute;
	padding: 0px;
}

.unit-rating li a:hover {
	background: url('../images/star_rating.gif') left center;
	z-index: 2;
	left: 0px;
}

.unit-rating a.r1-unit {
	left: 0px;
}

.unit-rating a.r1-unit:hover {
	width: 30px;
}

.unit-rating a.r2-unit {
	left: 30px;
}

.unit-rating a.r2-unit:hover {
	width: 60px;
}

.unit-rating a.r3-unit {
	left: 60px;
}

.unit-rating a.r3-unit:hover {
	width: 90px;
}

.unit-rating a.r4-unit {
	left: 90px;
}

.unit-rating a.r4-unit:hover {
	width: 120px;
}

.unit-rating a.r5-unit {
	left: 120px;
}

.unit-rating a.r5-unit:hover {
	width: 150px;
}

.unit-rating a.r6-unit {
	left: 150px;
}

.unit-rating li.current-rating {
	background: url('../images/star_rating.gif') left bottom;
	position: absolute;
	height: 30px;
	display: block;
	text-indent: -9000px;
	z-index: 1;
}

table.sortable {
	width: 100%;
	border-collapse: collapse;
}

table.sortable td,th {
	padding: 0.5em;
	border: 1px solid #CCC;
}

table.sortable thead,tfoot {
	background-color: #f2eada;
}

table.sortable tr.rowodd {
	
}

table.sortable tr.roweven {
	background-color: #F2F2F2;
}

.sortcol {
	cursor: pointer;
	padding-right: 20px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(../images/notsorted.gif);
	background-color: transparent;
}

.sortasc {
	background-color: #DDFFAC;
	background-image: url(../images/asc.gif);
}

.sortdesc {
	background-color: #B9DDFF;
	background-image: url(../images/desc.gif);
}

.nosort {
	cursor: default;
}

.scroll-table-head {
	width: 600px;
}

.scroll-table-body {
	width: 600px;
	height: 400px;
}

.scroll-table-body td {
	padding-right: 20px;
	overflow: hidden;
}

tr.selected {
	background: #e6e8fa;
}

/*
**richtable
*/
.richtable {
	border: 0px solid red;
	padding: 0px;
	margin: 0px;
}

.richtable .inputtext {
	border: 1px solid #cc9966;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	width: 100%;
}

.richtable .breakLine {
	white-space: normal;
	word-break: break-all;
	word-wrap: break-word;
}

.richtable .breakLine td {
	white-space: normal;
	word-break: break-all;
	word-wrap: break-word;
}

.richtable .noBreakLine {
	white-space: nowrap;
	word-break: keep-all;
	word-wrap: normal;
}

.richtable .noBreakLine td {
	white-space: nowrap;
	word-break: keep-all;
	word-wrap: normal;
}

.richtable input.radio {
	font-size: 12px;
	width: auto;
}

.richtable input.checkbox {
	font-size: 12px;
	width: auto;
}

.richtable select {
	border: solid 1px #EEEEEE;
	width: 75px;
}

.richtable button {
	background-color: transparent;
	background-image: url(../images/button.gif);
	background-repeat: repeat-x;
	border: outset 1px #bbbbbb;
	border-collapse: separate;
	vertical-align: bottom;
	color: #333333;
	cursor: pointer;
	height: 22px;
	width: 50px;
	margin: 3px 4px 3px 4px;
	padding: 3px 3px 0px 3px;
}

.richtable .tableRegion {
	border: 0px #ff00ff solid;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	/* width:100%; */
	table-layout: fixed;
}

.richtable .tableRegion td {
	color: #000000;
	border: 1px #cccccc solid;
	padding: 2px;
	height: 23px;
	white-space: nowrap;
	word-break: keep-all;
	word-wrap: normal;
	overflow: hidden;
}

.richtable .tableHeader,.richtable .tableRegion .tableHeader td {
	white-space: nowrap;
	word-break: keep-all;
	word-wrap: normal;
	color: #3A3A3A;
	font-weight: bolder;
	height: 24px;
	text-align: center;
	overflow: visible;
}

.richtable .resizeTitle {
	float: left;
	width: 90%;
	text-align: center;
}

.richtable .resizeBar {
	padding: 0px;
	margin: 0px;
	float: right;
	cursor: e-resize;
	width: 3px;
	height: 15px;
	font-size: 1px;
	vertical-align: top;
	background-color: #cccccc;
	display: inline;
}

.richtable .tableRegion .editableColumn {
	color: #883A3A;
}

.richtable .odd a,.even a {
	color: Black;
}

.richtable .odd td {
	background-color: #FFFFFF;
}

.richtable .even td {
	background-color: #f3f4f3;
}

.richtable .selected td {
	background-color: #ddeeff;
}

.richtable .selected a,.highlight a {
	color: black;
}

.richtable .selected td {
	background-color: #ffeedd;
}

.richtable .selected a,.selectlight a {
	color: black;
}

.richtable .odd div.ellipsis,.richtable .even div.ellipsis,.richtable.highlight div.ellipsis,.richtable .selectlight DIV.ellipsis
	{
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #3a3a3a;
	width: 100%;
}

.richtable .odd .editedCell,.richtable .even .editedCell,.richtable .highlight .editedCell,.richtable .selectlight .editedCell
	{
	background-color: #fff3f0;
}

.richtable .titleRow {
	color: #444444;
	font-weight: bold;
	font-size: 12px;
	vertical-align: middle;
}

.richtable div.title {
	color: #333333;
	font-weight: bold;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
}

.richtable .titleRow span {
	width: 100%;
	text-align: center;
}

.richtable .formButton {
	background-color: transparent;
	background-image: url(../images/button.gif);
	background-repeat: repeat-x;
	border: outset 1px #bbbbbb;
	border-collapse: separate;
	vertical-align: bottom;
	color: #333333;
	cursor: pointer;
	height: 22px;
	width: 50px;
	margin: 3px 4px 3px 4px;
	padding: 3px 3px 0px 3px;
}

.richtable .pageNav {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	border: 0px #dddddd none;
	width: 24px;
	height: 25px;
	cursor: pointer;
	vertical-align: -2px;
}

.richtable .jumpPage {
	background-image: url(../images/gotoPage.gif);
}

.richtable .firstPage {
	background-image: url(../images/firstPage.gif);
}

.richtable .prevPage {
	background-image: url(../images/prevPage.gif);
}

.richtable .nextPage {
	background-image: url(../images/nextPage.gif);
}

.richtable .lastPage {
	background-image: url(../images/lastPage.gif);
}

.richtable .firstPageD {
	background-image: url(../images/firstPageDisabled.gif);
}

.richtable .prevPageD {
	background-image: url(../images/prevPageDisabled.gif);
}

.richtable .nextPageD {
	background-image: url(../images/nextPageDisabled.gif);
}

.richtable .lastPageD {
	background-image: url(../images/lastPageDisabled.gif);
}

.richtable .toolbar select {
	width: 50px;
	font-size: 11px;
	font-family: Verdana;
}

.richtable .toolbar .toolbarTable {
	border: 0px red solid;
	width: 100%;
}

.richtable .toolbar .toolbarTable td {
	border: 0px none red;
}

.richtable .toolbar .toolbarTable .statusTool {
	border: 0px solid red;
	padding-top: 2px;
	text-align: right;
	white-space: nowrap;
	word-break: keep-all;
	word-wrap: normal;
}

.richtable .pageNavigationNearPageTool {
	width: 230px;
	white-space: nowrap;
	word-break: keep-all;
	word-wrap: normal;
}

.richtable .pageNavigationNearPageTool A {
	width: 12px;
}

.richtable .pageJumpTool {
	width: 95px;
}

.richtable .jumpPageInput {
	height: 19px;
	width: 25px;
	margin-top: 0px;
	/* border:1px solid #aaaaaa; */
}

.richtable .pageSizeTool {
	padding-top: 2px;
	width: 90px;
}

.richtable .extendTool A {
	display: inline;
	white-space: nowrap;
	word-break: keep-all;
	word-wrap: normal;
}

.richtable .separatorTool {
	font-size: 1px;
}

.richtable .blankTool {
	width: 10%;
}

.richtable .hideListRow {
	height: 0px;
	font-size: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 0px;
	border-bottom: 0px;
}

.richtable .hideListRow td {
	font-size: 0px;
	height: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top: 0px;
	border-bottom: 0px;
}

.richtable .headerScrollX {
	overflow: hidden;
	padding: 0px;
	margin: 0px;
	border: 0px red solid;
}

.richtable .bodyScrollY {
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0px;
	padding-right: 0px;
	margin: 0px;
	border: 0px red solid;
}

.richtable .bodyScrollX {
	overflow-x: auto;
	overflow-y: hidden;
	padding: 0px;
	margin: 0px;
	border: 0px red solid;
}

/**
jquery.autocomplete.css
*/
.ac_results {
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	/* 
	if width will be 100% horizontal scrollbar will apear 
	when scroll mode will be used
	*/ /*width: 100%;*/
	font: menu;
	font-size: 12px;
	/* 
	it is very important, if line-height not setted or setted 
	in relative units scroll will be broken in firefox
	*/
	line-height: 16px;
	overflow: hidden;
}

.ac_loading {
	background: white url('indicator.gif') right center no-repeat;
}

.ac_odd {
	background-color: #eee;
}

.ac_over {
	background-color: #0A246A;
	color: white;
}